@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-Bold.woff") format("woff"), url("../fonts/Rubik-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.container {
  font-family: "Rubik";
  font-weight: 400;
  display: block;
  max-width: 1212px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 19px;
}

a {
  text-decoration: none;
  color: #4F5665;
}

.close {
  opacity: 0;
  visibility: hidden;
}

.contain {
  right: 20px;
  cursor: pointer;
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 4px;
  border-radius: 50px;
  background-color: #F53838;
  margin: 7px 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border-radius: 50px;
}

.open {
  height: auto;
  max-height: 500px;
  -webkit-transition: linear 1s;
  -o-transition: linear 1s;
  transition: linear 1s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
      -ms-transform: rotate(-45deg) translate(-8px, 6px);
          transform: rotate(-45deg) translate(-8px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
      -ms-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}

.header {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 10px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu ul li {
  margin: 0 20px;
}

.header-btn__in,
.header-btn__up {
  font-weight: 500;
  background: none;
  border: none;
}

.header-btn__up {
  margin-left: 30px;
  color: #F53855;
  padding: 13px 45px;
  border: 1px solid #F53855;
  border-radius: 50px;
}

.header-btn__users {
  display: none;
}

.about {
  margin-top: 88px;
}

.about-text {
  max-width: 555px;
  display: inline-block;
  vertical-align: middle;
}

.about-text__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0B132A;
}

.about-text__title strong {
  font-weight: 700;
}

.about-text__subtitle {
  margin-top: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #4F5665;
}

.about-text__subtitle strong {
  font-weight: 500;
}

.about-text_btn {
  margin-top: 50px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  padding: 17.5px 77.5px;
  border: none;
  background: #F53838;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px 20px rgba(245, 56, 56, 0.35);
          box-shadow: 5px 10px 20px rgba(245, 56, 56, 0.35);
}

.about-picture {
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
}

.about-statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 102px;
  padding: 67.5px 91px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 20px rgba(13, 16, 37, 0.11);
          box-shadow: 0 5px 20px rgba(13, 16, 37, 0.11);
}

.about-statistics__block {
  position: relative;
}

.about-statistics__block:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 125.5px;
  background: #EEEFF2;
  top: -50%;
  right: -130px;
}

.about-statistics__block:nth-child(3):after {
  display: none;
}

.about-statistics__block .statistics-block__img {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 55px;
  height: 55px;
  background: #FFECEC;
  border-radius: 70px;
}

.about-statistics__block .statistics-block__img img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.about-statistics__block .statistics-block__text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 36.5px;
}

.about-statistics__block .statistics-block__text .block-number {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
}

.about-statistics__block .statistics-block__text .block-name {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #4F5665;
  margin-top: 5px;
}

.features {
  margin-top: 82px;
  margin-bottom: 126px;
}

.features-picture {
  display: inline-block;
  vertical-align: middle;
}

.features-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 169px;
}

.features-text--title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  max-width: 383px;
  color: #0B132A;
}

.features-text--subtitle {
  line-height: 30px;
  max-width: 428px;
  color: #4F5665;
  margin-top: 20px;
}

.features-text--checks {
  margin-top: 20px;
}

.features-text--checks .check-block {
  margin-top: 15px;
}

.features-text--checks .check-block--img {
  display: inline-block;
  vertical-align: middle;
}

.features-text--checks .check-block--descr {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
  margin-left: 10px;
}

.pricing {
  margin-top: 206px;
  text-align: center;
}

.pricing-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
}

.pricing-subtitle {
  line-height: 30px;
  color: #4F5665;
  max-width: 555px;
  margin: 0 auto;
  margin-top: 20px;
}

.pricing-plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.pricing-plans--block {
  min-height: 630px;
  position: relative;
  padding: 80px 70px 50px 70px;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
}

.plans-block--title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
  margin-top: 30px;
}

.plans-block--worth {
  -moz-text-align-last: left;
       text-align-last: left;
  margin-top: 30px;
}

.plans-block--worth li {
  margin-top: 10px;
}

.svg-pricing--check {
  display: inline-block;
  vertical-align: middle;
}

.plans-block--worth---descr {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
  margin-left: 20px;
}

.plans-block--price {
  position: absolute;
  bottom: 115px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 25px;
  line-height: 30px;
  color: #4F5665;
  min-width: 104px;
}

.plans-block--price strong {
  font-weight: 500;
  color: #0B132A;
}

.plans-block--btn {
  position: absolute;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 2px solid #F53838;
  border-radius: 50px;
  background: none;
  color: #F53838;
  font-weight: 700;
  padding: 13px 63px;
}

.testimonials {
  margin-top: 150px;
  text-align: center;
}

.testimonials-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  max-width: 383px;
  margin: 0 auto;
}

.testimonials-subtitle {
  line-height: 30px;
  color: #4F5665;
  max-width: 555px;
  margin: 0 auto;
  margin-top: 20px;
}

.testimonials-map {
  margin-top: 156px;
}

.testimonials-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7px;
}

.help {
  text-align: center;
  margin-top: 50px;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.help-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  max-width: 448px;
  margin: 0 auto;
}

.help-slider {
  position: relative;
  margin: 0 auto;
  margin-top: 60px;
  max-width: 1300px;
}

.help-slider .slick-current {
  border-color: #F53838;
}

.help-slider__item {
  max-width: 340px;
  padding: 30px;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  margin-right: 50px;
}

.help-slider__item--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help-slider__item--header .item-header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 182px;
}

.help-slider__item--header .item-header__user .user-descr {
  text-align: left;
  margin-left: 20px;
}

.help-slider__item--header .item-header__user .user-descr__name {
  font-weight: 500;
  font-size: 18px;
  color: #0B132A;
}

.help-slider__item--header .item-header__user .user-descr__location {
  font-size: 14px;
  color: #4F5665;
  margin-top: 5px;
}

.help-slider__item--header .item-header__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 49px;
}

.help-slider__item--text {
  line-height: 30px;
  color: #0B132A;
  margin-top: 20px;
  text-align: left;
  min-height: 117px;
}

.help-slider .slick-arrow {
  position: absolute;
  right: 0;
  bottom: -81px;
  font-size: 0;
  width: 20px;
  height: 17.5px;
  padding: 20px;
  border: 2px solid #F53838;
  border-radius: 50px;
}

.help-slider .slick-prev {
  right: 110px;
  background: url("../img/help/arrow-left.svg") center/50% no-repeat;
}

.help-slider .slick-next {
  right: 50px;
  background: url("../img/help/arrow-right.svg") center/50% no-repeat;
  background-color: #F53838;
}

.help-subtitle {
  line-height: 30px;
  color: #4F5665;
  max-width: 555px;
  margin: 0 auto;
  margin-top: 20px;
}

.help-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 58.5px 70px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 185px;
  -webkit-box-shadow: 0 5px 20px rgba(13, 16, 37, 0.11);
          box-shadow: 0 5px 20px rgba(13, 16, 37, 0.11);
}

.help-subscribe--text---title {
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  max-width: 372px;
  color: #0B132A;
  text-align: left;
}

.help-subscribe--text---subtitle {
  line-height: 30px;
  color: #4F5665;
  margin-top: 20px;
  text-align: left;
}

.help-subscribe--btn {
  line-height: 25px;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 10px;
  background-color: #F53838;
  padding: 17.5px 65px;
  -webkit-box-shadow: 5px 10px 20px rgba(245, 56, 56, 0.35);
          box-shadow: 5px 10px 20px rgba(245, 56, 56, 0.35);
}

.footer {
  margin-top: 63.5px;
  margin-bottom: 100px;
}

.footer-info {
  display: inline-block;
}

.footer-info--descr {
  max-width: 340px;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin-top: 20px;
}

.footer-info--descr strong {
  font-weight: 500;
}

.footer-info--social {
  max-width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.footer-info--social a {
  width: 38px;
  height: 38px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 20px rgba(13, 16, 37, 0.11);
          box-shadow: 0 5px 20px rgba(13, 16, 37, 0.11);
  border-radius: 50%;
}

.footer-info--social a img {
  margin-left: 50%;
  margin-top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.footer-info--author {
  line-height: 30px;
  color: #AFB5C0;
  margin-top: 30px;
}

.footer-product,
.footer-engage,
.footer-money {
  display: inline-block;
  vertical-align: top;
}

.footer-product--title,
.footer-engage--title,
.footer-money--title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
}

.footer-product li,
.footer-engage li,
.footer-money li {
  margin-top: 10px;
}

.footer-product a,
.footer-engage a,
.footer-money a {
  color: #4F5665;
  line-height: 30px;
}

.footer-product {
  margin-left: 230px;
}

.footer-engage,
.footer-money {
  margin-left: 126px;
}

@media (max-width: 930px) {
  .header-btn {
    position: absolute;
    right: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }

  .header-btn__users {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header .contain {
    display: block;
  }

  .header-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .header-menu {
    position: absolute;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    top: 10px;
    left: 10px;
    opacity: 0;
    visibility: hidden;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.93);
  }

  .header-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-transform: uppercase;
  }

  .header-menu ul li {
    margin: 5px 0;
    font-weight: 500;
  }
}
@supports (-webkit-appearance:none){
.help-slider .slick-prev{background:url("../img/help/arrow-left.svg") center/50% no-repeat}
.help-slider .slick-next{background:url("../img/help/arrow-right.svg") center/50% no-repeat}
}

 @media (max-width: 930px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}
