@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-Bold.woff") format("woff"), url("../fonts/Rubik-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.container {
  font-family: "Rubik";
  font-weight: 400;
  display: block;
  max-width: 1212px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 19px;
}

.about,
.features,
.pricing,
.testimonials,
.help,
.footer {
  margin-top: 80px;
}

a {
  text-decoration: none;
  color: #4F5665;
}

.close {
  opacity: 0;
  visibility: hidden;
}

.show {
  opacity: 1;
  visibility: visible;
  right: 120px;
}

.contain {
  right: 20px;
  cursor: pointer;
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 4px;
  border-radius: 50px;
  background-color: #F53838;
  margin: 7px 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border-radius: 50px;
}

.open {
  height: auto;
  max-height: 500px;
  -webkit-transition: linear 1s;
  -o-transition: linear 1s;
  transition: linear 1s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
      -ms-transform: rotate(-45deg) translate(-8px, 6px);
          transform: rotate(-45deg) translate(-8px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
      -ms-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}

.about-text__title,
.features-text__title,
.pricing-title,
.testimonials-title,
.help-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
}

.about-text__title strong,
.features-text__title strong,
.pricing-title strong,
.testimonials-title strong,
.help-title strong {
  font-weight: 700;
}

.about-text__subtitle,
.features-text__subtitle,
.pricing-subtitle,
.testimonials-subtitle,
.help-subtitle {
  margin-top: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #4F5665;
  max-width: 555px;
}

.about-text__subtitle strong,
.features-text__subtitle strong,
.pricing-subtitle strong,
.testimonials-subtitle strong,
.help-subtitle strong {
  font-weight: 500;
}

.header {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu ul li {
  margin: 0 20px;
}

.header-btn__in,
.header-btn__up {
  font-weight: 500;
  background: none;
  border: none;
}

.header-btn__up {
  margin-left: 30px;
  color: #F53855;
  padding: 13px 45px;
  border: 1px solid #F53855;
  border-radius: 50px;
}

.header-btn__users {
  display: none;
}

.about {
  margin-top: 80px;
}

.about-text {
  max-width: 555px;
  display: inline-block;
  vertical-align: middle;
}

.about-text__title {
  font-size: 50px;
  line-height: 70px;
}

.about-text__btn {
  display: block;
  margin-top: 50px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  padding: 17.5px 77.5px;
  border: none;
  background: #F53838;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px 20px rgba(245, 56, 56, 0.35);
          box-shadow: 5px 10px 20px rgba(245, 56, 56, 0.35);
}

.about-picture {
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
}

.about-picture img {
  width: 100%;
}

.about-statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 102px;
  padding: 37px 91px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 20px rgba(13, 16, 37, 0.11);
          box-shadow: 0 5px 20px rgba(13, 16, 37, 0.11);
}

.about-statistics .vertical-line {
  width: 2px;
  height: 126px;
  background-color: #eeeff2;
}

.about-statistics__block .statistics-block__img {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 55px;
  height: 55px;
  background: #FFECEC;
  border-radius: 70px;
}

.about-statistics__block .statistics-block__img img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.about-statistics__block .statistics-block__text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 36.5px;
}

.about-statistics__block .statistics-block__text .block-number {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
}

.about-statistics__block .statistics-block__text .block-name {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #4F5665;
  margin-top: 5px;
}

.features {
  position: relative;
}

.features-picture {
  display: inline-block;
  vertical-align: middle;
}

.features-picture img {
  width: 100%;
}

.features-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 169px;
}

.features-text__title {
  font-size: 35px;
  max-width: 383px;
}

.features-text__subtitle {
  max-width: 428px;
}

.features-text__checks {
  display: inline-block;
  text-align: left;
  margin-top: 20px;
}

.features-text__checks .check-block {
  margin-top: 15px;
}

.features-text__checks .check-block__img {
  display: inline-block;
  vertical-align: middle;
}

.features-text__checks .check-block__descr {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
  margin-left: 10px;
}

.pricing {
  text-align: center;
}

.pricing-subtitle {
  margin: 20px auto 0;
}

.pricing-plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.pricing-plans--block {
  min-height: 630px;
  position: relative;
  padding: 80px 70px 50px 70px;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
}

.pricing-plans--block .plans-block--title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
  margin-top: 30px;
}

.pricing-plans--block .plans-block--worth {
  -moz-text-align-last: left;
       text-align-last: left;
  margin-top: 30px;
}

.pricing-plans--block .plans-block--worth---descr {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
  margin-left: 20px;
}

.pricing-plans--block .plans-block--worth li {
  margin-top: 10px;
}

.pricing-plans--block .plans-block .svg-pricing--check {
  display: inline-block;
  vertical-align: middle;
}

.pricing-plans--block .plans-block--price {
  position: absolute;
  bottom: 115px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 25px;
  line-height: 30px;
  color: #4F5665;
  min-width: 104px;
}

.pricing-plans--block .plans-block--price strong {
  font-weight: 500;
  color: #0B132A;
}

.pricing-plans--block .plans-block--btn {
  position: absolute;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 2px solid #F53838;
  border-radius: 50px;
  background: none;
  color: #F53838;
  font-weight: 700;
  padding: 13px 63px;
}

.testimonials {
  text-align: center;
}

.testimonials-title {
  max-width: 383px;
  margin: 0 auto;
}

.testimonials-subtitle {
  margin: 20px auto 0;
}

.testimonials-map {
  margin-top: 156px;
}

.testimonials-map img {
  width: 100%;
}

.testimonials-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
}

.testimonials-company__block img {
  width: 100%;
}

.help {
  text-align: center;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.help-title {
  max-width: 448px;
  margin: 0 auto;
}

.help-subtitle {
  margin: 20px auto 0;
}

.help-slider {
  position: relative;
  margin: 0 auto;
  margin-top: 60px;
  max-width: 1300px;
}

.help-slider .slick-current {
  border-color: #F53838;
}

.help-slider__item {
  padding: 30px;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  margin: auto 25px;
}

.help-slider__item--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help-slider__item--header .item-header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 182px;
}

.help-slider__item--header .item-header__user .user-descr {
  text-align: left;
  margin-left: 20px;
}

.help-slider__item--header .item-header__user .user-descr__name {
  font-weight: 500;
  font-size: 18px;
  color: #0B132A;
}

.help-slider__item--header .item-header__user .user-descr__location {
  font-size: 14px;
  color: #4F5665;
  margin-top: 5px;
}

.help-slider__item--header .item-header__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 49px;
}

.help-slider__item--text {
  line-height: 30px;
  color: #0B132A;
  margin-top: 20px;
  text-align: left;
  min-height: 150px;
}

.help-slider .slick-arrow {
  position: absolute;
  right: 0;
  bottom: -81px;
  font-size: 0;
  width: 20px;
  height: 17.5px;
  padding: 20px;
  border: 2px solid #F53838;
  border-radius: 50px;
}

.help-slider .slick-prev {
  right: 110px;
  background: url("../img/help/arrow-left.svg") center/50% no-repeat;
}

.help-slider .slick-next {
  right: 50px;
  background: url("../img/help/arrow-right.svg") center/50% no-repeat;
  background-color: #F53838;
}

.help-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 58.5px 70px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 185px;
  -webkit-box-shadow: 0 5px 20px rgba(13, 16, 37, 0.11);
          box-shadow: 0 5px 20px rgba(13, 16, 37, 0.11);
}

.help-subscribe--text---title {
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  max-width: 372px;
  color: #0B132A;
  text-align: left;
}

.help-subscribe--text---subtitle {
  line-height: 30px;
  color: #4F5665;
  margin-top: 20px;
  text-align: left;
}

.help-subscribe--btn {
  line-height: 25px;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 10px;
  background-color: #F53838;
  padding: 17.5px 65px;
  -webkit-box-shadow: 5px 10px 20px rgba(245, 56, 56, 0.35);
          box-shadow: 5px 10px 20px rgba(245, 56, 56, 0.35);
}

.footer {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-info {
  display: inline-block;
}

.footer-info__descr {
  max-width: 340px;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin-top: 20px;
}

.footer-info__descr strong {
  font-weight: 500;
}

.footer-info__social {
  max-width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 30px;
}

.footer-info__social a {
  width: 38px;
  height: 38px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 20px rgba(13, 16, 37, 0.11);
          box-shadow: 0 5px 20px rgba(13, 16, 37, 0.11);
  border-radius: 50%;
}

.footer-info__social a img {
  margin-left: 50%;
  margin-top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.footer-info__author {
  line-height: 30px;
  color: #AFB5C0;
  margin-top: 30px;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-product,
.footer-engage,
.footer-money {
  text-align: left;
  margin: 0 30px;
}

.footer-product__title,
.footer-engage__title,
.footer-money__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
}

.footer-product li,
.footer-engage li,
.footer-money li {
  margin-top: 10px;
}

.footer-product a,
.footer-engage a,
.footer-money a {
  color: #4F5665;
  line-height: 30px;
}

@media (max-width: 1212px) {
  .container {
    padding: 0 10px;
  }

  .about-text {
    max-width: 50%;
  }

  .about-picture {
    width: 49%;
    margin-left: 0;
  }

  .features-picture {
    width: 50%;
  }

  .features-text {
    width: 49%;
    margin-left: 0;
  }

  .pricing-plans--block {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 930px) {
  .about-text__title,
  .features-text__title,
  .pricing-title,
  .testimonials-title,
  .help-title {
    text-align: center;
    font-size: 35px;
    line-height: 50px;
    max-width: 70%;
    margin: 0 auto;
  }

  .about-text__subtitle,
  .features-text__subtitle,
  .pricing-subtitle,
  .testimonials-subtitle,
  .help-subtitle {
    max-width: 60%;
    margin: 20px auto 0;
    text-align: center;
  }

  .header-btn {
    position: absolute;
    right: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }

  .header-btn__users {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .about-text {
    display: block;
    max-width: 100%;
  }

  .about-text__btn {
    margin: 0 auto;
    margin-top: 50px;
  }

  .about-picture {
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    width: 80%;
  }

  .about-statistics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 500px;
    max-width: 200px;
  }

  .about-statistics .vertical-line {
    width: 126px;
    height: 2px;
  }

  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .features-text {
    width: 100%;
    text-align: center;
  }

  .features-text__checks {
    position: absolute;
    right: 0;
    -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }

  .pricing-plans--block {
    padding: 80px 25px 50px 25px;
  }

  .testimonials-map {
    margin-top: 70px;
  }

  .testimonials-company__block {
    width: 180px;
    margin-top: 30px;
  }

  .help-subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 50%;
  }

  .help-subscribe--text---title {
    text-align: center;
  }

  .help-subscribe--text---subtitle {
    text-align: center;
  }

  .help-subscribe--btn {
    margin-top: 30px;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .footer-product,
  .footer-engage,
  .footer-money {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .about,
  .features,
  .pricing,
  .testimonials,
  .help,
  .footer {
    margin-top: 60px;
  }

  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header .contain {
    display: block;
  }

  .header-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .header-menu {
    position: absolute;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.93);
  }

  .header-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-transform: uppercase;
    font-size: 24px;
  }

  .header-menu ul li {
    margin: 12px 0;
    font-weight: 500;
  }

  .about {
    margin-top: 60px;
  }

  .about-text {
    text-align: center;
  }

  .features-picture {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
  }

  .features-text__checks {
    position: static;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .pricing-plans {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }

  .pricing-plans--block {
    padding: 80px 70px 50px 70px;
    margin-top: 60px;
  }

  .testimonials-company {
    margin-top: 30px;
  }

  .testimonials-company__block {
    width: 160px;
  }

  .help-slider {
    max-width: 550px;
  }

  .help-subscribe {
    margin-top: 120px;
  }
}

@media (max-width: 522px) {
  .about-text__title,
  .features-text__title,
  .pricing-title,
  .testimonials-title,
  .help-title {
    font-size: 20px;
    line-height: 30px;
  }

  .about-text__subtitle,
  .features-text__subtitle,
  .pricing-subtitle,
  .testimonials-subtitle,
  .help-subtitle {
    font-size: 12px;
    line-height: 20px;
  }

  .header-menu {
    padding-bottom: 50px;
  }

  .header-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0px;
  }

  .header-btn__up {
    margin: 0;
    margin-top: 15px;
  }

  .about-text__btn {
    font-size: 12px;
    padding: 17.5px 60.5px;
  }

  .about-statistics {
    padding: 30px 20px;
    height: 400px;
  }

  .about-statistics__block .statistics-block__text {
    margin-left: 10px;
  }

  .about-statistics__block .statistics-block__text .block-number {
    font-size: 18px;
    line-height: 0px;
  }

  .about-statistics__block .statistics-block__text .block-name {
    font-size: 16px;
    line-height: 20px;
  }

  .features-text__checks .check-block__descr {
    font-size: 11px;
  }

  .pricing-plans--block {
    padding: 20px 40px 20px 40px;
    min-height: auto;
  }

  .pricing-plans--block .plans-block--img {
    width: 60%;
    margin: 0 auto;
  }

  .pricing-plans--block .plans-block--img img {
    width: 100%;
  }

  .pricing-plans--block .plans-block--title {
    font-size: 16px;
    line-height: 20px;
  }

  .pricing-plans--block .plans-block--worth---descr {
    font-size: 10px;
    line-height: 20px;
  }

  .pricing-plans--block .plans-block--price {
    position: static;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    margin-top: 30px;
  }

  .pricing-plans--block .plans-block--btn {
    position: static;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    margin-top: 20px;
  }

  .testimonials-map {
    margin-top: 50px;
  }

  .testimonials-map img {
    width: 100%;
  }

  .testimonials-company__block {
    width: 120px;
    margin-top: 20px;
  }

  .help-slider__item--header .item-header__user {
    min-width: 0;
  }

  .help-slider__item--header .item-header__user .user-descr {
    margin-left: 10px;
  }

  .help-slider__item--header .item-header__user .user-descr__name {
    font-size: 14px;
  }

  .help-slider__item--header .item-header__user .user-descr__location {
    font-size: 11px;
  }

  .help-slider__item--text {
    font-size: 12px;
    line-height: 20px;
    min-height: 50px;
  }

  .help-subscribe--text---title {
    font-size: 20px;
    line-height: 30px;
  }

  .help-subscribe--text---subtitle {
    font-size: 12px;
    line-height: 15px;
  }

  .footer-info__descr {
    font-size: 12px;
    line-height: 20px;
    max-width: 60%;
    margin: 20px auto 0;
    text-align: center;
  }

  .footer-info__author {
    font-size: 12px;
  }

  .footer-product,
  .footer-engage,
  .footer-money {
    font-size: 12px;
  }
}

@media (max-width: 324px) {
  .header-menu {
    padding-bottom: 60px;
  }

  .header-btn {
    top: -5px;
  }
}
@supports (-webkit-appearance:none){
.help-slider .slick-prev{background:url("../img/help/arrow-left.svg") center/50% no-repeat}
.help-slider .slick-next{background:url("../img/help/arrow-right.svg") center/50% no-repeat}
}

 @media (max-width: 1212px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 930px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 522px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 324px){

@supports (-webkit-appearance:none){

}

}
